<table>
  <thead>
    <tr>
    <% @artworks.each do |artwork|%>
      <th> <%= artwork.name %> </th>
      <th> <%= artwork.user.name %> </th>
      <th> <%= image_tag artwork.image.url %> </th>
    <%end%>
    </tr>
  </thead>
</table>
