  <div class="ui middle aligned grid">
    <div class="1 column wide">
      <div class="row">
          <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="row">
        <div class="ui center aligned basic segment">
          <div style="font-size: 200%;">
            Welcome to Art Critic, a platform for sharing and critiquing art.
          </div>
        </div>
        <div class="ui center aligned basic segment">
          <div class="ui large basic button" style="font-family: 'Quicksand', sans-serif;">
            <%= link_to "View Artwork", artworks_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>

body{
  background-image: url('/app/assets/images/index_background/1.jpg');
  /* background-image: url('https://www.wikihow.com/images/thumb/f/f0/Calm-Down-a-Playful-Large-Dog-Step-10.jpg/aid30182-v4-728px-Calm-Down-a-Playful-Large-Dog-Step-10.jpg'); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
}
</style>
