<head>
  <meta charset="UTF-8">
  <script language="javascript" type="text/javascript" src="/p5.js"></script>
  <script language="javascript" src="/p5.dom.js"></script>
  <script language="javascript" type="text/javascript" src="/sketch.js"></script>

</head>

<style media="screen">
body{
  background-image: url("assets/8.gif/");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;>
}
</style>

<body>
  <script language="javascript" type="text/javascript" src="/particle.js"></script>
  <div>
    <div class="ui middle aligned grid">
      <div class="1 column wide">
        <div class="row">
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="row">

          <div class="ui center aligned basic segment">
            <div class="ui compact message" style="opacity:0.8">
            <div style="font-size: 200%; opacity:1;">
              Welcome to Art Critic, a platform for sharing and critiquing art.
            </div>
          </div>
          </div>

          <div class="ui center aligned basic segment" style="opacity:0.8">
            <div class="ui huge button" style="font-family: 'Quicksand', sans-serif;">
              <%= link_to "Browse Artwork", artworks_path %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>


<!-- <style>

body{
  background-image: url("assets/<%=rand(1..7)%>.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
</style> -->
